<div class="span4">
  <div class="sidebar-widget">
    <h1>Disclaimer</h1>
    <p>The following content you're about to read is based on my knowledge on the subject, so it may not be always correct. With that said, take whatever I said with a grain of salt and if you think you know that I'm wrong, feel free to correct me through the comments. I'd be glad you did.</p>
  </div>
  <div class="sidebar-widget">
    <h1>About the blog</h1>
    <p>This is a technical weblog made by Terence Ponce. It features articles about the author's day-to-day encounters with various problems about programming and software development.</p>
  </div>
</div>

