<!DOCTYPE html>
<html xml:lang="en">
  <head>
    <meta charset=utf-8 />
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      {{ site.title }}
    </title>
    <meta name="author" content="Terence Ponce" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ site.title }} {{ page.title }}" />
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="/css/syntax_highlighting.css" type="text/css" />
    {% include google_analytics.html %}
  </head>
  <body>
    {% include navigation.html %}

    <div class="container">
      <div class="content">
        <div class="row">
          <div id="main" class="span{% if page.no_sidebar %}14{% else %}10{% endif %}">
            {{ content }}
          </div>
          {% unless page.no_sidebar %}
            {% include sidebar.html %}
          {% endunless %}
        </div>
      </div>
      {% include footer.html %}
    </div>
    <a href="http://github.com/terenceponce/terenceponce.github.com/"><img style="position: absolute; top: 40px; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/5d21241b64dc708fcbb701f68f72f41e9f1fadd6/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
  </body>
</html>

