<!DOCTYPE html>
<html xml:lang="en">
  <head>
    <meta charset=utf-8 />
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      Terence Ponce's GitHub site
    </title>
    <meta name="author" content="Terence Ponce" />
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ site.title }} {{ page.title }}" />
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    {% include google_analytics.html %}
  </head>
  <body>
    {% include header.html %}

    <div class="container-fluid">
      {% unless page.no_sidebar %}
        {% include sidebar.html %}
      {% endunless %}
      <div class="content">
        <div id="main" class="span{% if page.no_sidebar %}14{% else %}12{% endif %}">
          {{ content }}
        </div>

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>

