---
layout: default
comments: true
---

<div class="hero-unit">
  <h1>{{ page.title }}</h1>
  <p>
    Posted on {{ page.date | date_to_long_string }}
  </p>
</div>
{{ content }}
<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="prev"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
  {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a></li>
  {% endif %}
  </ul>
</div>
<div id="comments">
  <h2>Comments</h2>
  <div id="disqus_thread"></div>
  {% include disqus.html %}
</div>

