---
layout: default
---

<div class="hero-unit">
  <h1>{{ page.title }}</h1>
  <p>
    Posted on {{ page.date | date_to_long_string }}
    {% if page.category %}
      in <a href="/categories/{{ page.category | slugize }}">{{ page.category }}</a>
    {% endif %}
  </p>
  <span class="label">
    {% for tag in page.tags %}
    <a href="/tags/{{ tag| slugize }}">{{ tag }}</a>
    {% endfor %}
  </span>
</div>
{{ content }}
<div class="pagination">
  <ul>
  {% if page.previous %}
    <li class="prev"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
    <li><a href="/archive.html">Archive</a></li>
  {% if page.next %}
    <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a></li>
  {% endif %}
  </ul>
</div>

